# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project Specific
frontend/dist/
frontend/node_modules/
backend/__pycache__/
.python-version
assets/
*.mp4
*.mov
*.mkv
